@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("http://fonts.cdnfonts.com/css/sofia-pro");
.sans {
  font-family: "DM Sans", sans-serif;
}

.inconsolata {
  font-family: "Inconsolata", monospace;
}

.sofia {
  font-family: "Sofia Pro", sans-serif;
}

html {
  width: 100%;
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: auto !important;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 88%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 84%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 76%;
  }
}

.line {
  border: 1px solid #28314f;
}

.nowrap {
  white-space: nowrap;
}

.f8 {
  font-size: 0.5rem;
}

.f10 {
  font-size: 0.625rem;
}

.f12 {
  font-size: 0.75rem;
}

.f14 {
  font-size: 0.875rem;
}

.f15 {
  font-size: 0.938rem;
}

.f16 {
  font-size: 1rem;
}

.f18 {
  font-size: 1.125rem;
}

.f20 {
  font-size: 1.25rem;
}

.f22 {
  font-size: 1.375rem;
}

.f24 {
  font-size: 1.5rem;
}

.f34 {
  font-size: 2.125rem;
}

.f30 {
  font-size: 1.875rem;
}

.f35 {
  font-size: 2.125rem;
  line-height: 57px;
}

.f50 {
  font-size: 3.125rem;
  line-height: 65px;
}

.f64 {
  font-size: 4rem;
  line-height: 71px;
}

.f70 {
  font-size: 4.375rem;
  line-height: 71px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

.color1 {
  color: #28314f;
}

.color2 {
  color: #606060;
}

.page_container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

.header_container {
  z-index: 99999;
  font-family: "Sofia Pro", sans-serif;
  position: fixed;
  top: 0%;
  width: 100%;
  left: 0%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_container a {
  color: #28314f;
  text-decoration: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

.header_container a:hover {
  color: #fff;
}

.header_container .activeNav {
  color: #fff;
}

.header_container .connectBtn button {
  border: none;
  background: #28314f;
  border-radius: 5px;
  color: #fff;
}

.header_container .connectBtn button:focus {
  outline: none;
}

.header_container .logo {
  color: #ffffff;
  font-weight: bold;
  line-height: 52px;
  font-size: 2.2rem;
}

.header_container.sticky {
  background-color: #091429;
}

.hero_container {
  background: url("../assets/hero.svg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_container img {
  width: 25px;
}

.hero_container .main {
  font-size: 100px;
}

.hero_container p {
  line-height: 36px;
}

/* ==================== SideBAR STYLING END ======================== */
.SideBarContainer {
  position: fixed;
  right: 0%;
  left: 0%;
  bottom: 0%;
  color: white;
  font-size: 2.2rem;
  background-color: #091429;
  height: 100vh;
  z-index: 11111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.SideBarContainer .logo {
  position: absolute;
  top: 3%;
  left: 3%;
}

.SideBarContainer .logo img {
  width: 120px;
}

.SideBarContainer .connectBtn button {
  border: none;
  background: #28314f;
  border-radius: 5px;
  color: #fff;
}

.SideBarContainer .connectBtn button:focus {
  outline: none;
}

.SideBarContainer ul {
  padding-left: 0rem;
}

.SideBarContainer ul li {
  position: relative;
  list-style: none;
  margin-bottom: 2rem;
  cursor: pointer;
  padding: 0.4rem 0rem;
  text-align: center;
}

.SideBarContainer ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

.CrossBTn {
  position: absolute;
  top: 8.2%;
  right: 5.5%;
  cursor: pointer;
}

/* ==================== SideBAR STYLING END ======================== */
.body_container {
  background: url("../assets/body.svg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team_card_container {
  --bs-gutter-x: 15rem;
  --bs-gutter-y: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.team_card_container > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.team_card_container .inner_card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.3333333333333333333333333%;
}

.team_card_container .inner_card img {
  border-radius: 50%;
}

.custom_accordion {
  background: #11182c;
  border-radius: 10px;
}

.footer_container {
  margin-top: 5rem;
  border-top: 1px solid #28314f;
}

.footer_container a {
  color: #28314f;
  text-decoration: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

.footer_container a:hover {
  color: #fff;
}

.footer_container .activeNav {
  color: #fff;
}

.footer_container .share img {
  width: 55px;
}

.timer_cont {
  margin-bottom: 1.2rem;
  height: 100px;
  background: #28314f;
  border-radius: 20px;
  opacity: 0.55;
  font-size: 5rem;
  line-height: 130%;
  color: #197fc991;
}

.inner_roadmap {
  /* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
}

.inner_roadmap *,
.inner_roadmap *::before,
.inner_roadmap *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.inner_roadmap button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.inner_roadmap .section {
  background: #3068e5;
  padding: 50px 0;
}

.inner_roadmap .section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.inner_roadmap .section h1 {
  font-size: 2.5rem;
}

.inner_roadmap .section h2 {
  font-size: 1.3rem;
}

.inner_roadmap .timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.inner_roadmap .timeline ol {
  font-size: 0;
  padding: 220px 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  text-align: center;
  overflow-x: auto;
}

.inner_roadmap .timeline ol::-webkit-scrollbar {
  height: 8px;
}

.inner_roadmap .timeline ol::-webkit-scrollbar-track {
  background: #0a1323;
}

.inner_roadmap .timeline ol::-webkit-scrollbar-thumb {
  background: #2372fd;
  border-radius: 10px;
}

.inner_roadmap .timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 210px;
  height: 3px;
  background: #28314f;
}

.inner_roadmap .timeline ol li:last-child {
  width: 280px;
}

.inner_roadmap .timeline ol li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background: #3068e5;
  border: 7px solid #548aff;
}

.inner_roadmap .timeline ol li:last-child:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 48%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background: #14398b;
  border: 7px solid #14398b;
}

.inner_roadmap .timeline ol li div {
  position: absolute;
  left: 0%;
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
}

.inner_roadmap .timeline ol li div::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.inner_roadmap .timeline ol li:nth-child(odd) div {
  top: -14px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background: #1c243d;
  border-radius: 8px;
  min-height: 180px;
}

.inner_roadmap .timeline ol li:nth-child(odd) div::before {
  top: 98.8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-width: 8px 8px 8px 8px;
  border-color: #1c243d transparent transparent transparent;
}

.inner_roadmap .timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
  background: #1c243d;
  border-radius: 8px;
  min-height: 180px;
}

.inner_roadmap .timeline ol li:nth-child(even) div::before {
  top: -14px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  left: 48%;
  border-width: 8px 8px 8px 8px;
  border-color: transparent transparent transparent #1c243d;
}

.inner_roadmap .timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}

.inner_roadmap .timeline .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.inner_roadmap .timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.inner_roadmap .timeline .disabled {
  opacity: 0.5;
}

.inner_roadmap .timeline .arrows img {
  width: 45px;
  height: 45px;
}

@media screen and (min-width: 599px) {
  .inner_roadmap .timeline ol li:nth-child(1) {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 210px;
    height: 3px;
    background: #548aff;
  }
  .inner_roadmap .timeline ol li:nth-child(2) {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 210px;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, color-stop(66%, #548aff), color-stop(46%, #28314f));
    background: linear-gradient(90deg, #548aff 66%, #28314f 46%);
  }
  .inner_roadmap .timeline ol li:nth-child(2) div::before {
    top: -14px;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    left: 48%;
    border-width: 8px 8px 8px 8px;
    border-color: transparent transparent transparent #3068e5;
  }
  .inner_roadmap .timeline ol li:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 64%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
    width: 12px;
    height: 12px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 50%;
    background: #3068e5;
    opacity: 1;
    border: 7px solid #548aff;
  }
  .inner_roadmap .timeline ol li:nth-child(2) div {
    top: calc(100% + 16px);
    background: #1c243d;
    border-radius: 8px;
    min-height: 180px;
    background: #3068e5;
  }
  .inner_roadmap .timeline ol li:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 65%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
    width: 12px;
    height: 12px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 50%;
    background: #3068e5;
    opacity: 1;
    border: 7px solid #548aff;
  }
  .inner_roadmap .timeline ol li:nth-child(3)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 64%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
    width: 12px;
    height: 12px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 50%;
    background: #14398b;
    opacity: 1;
    border: 7px solid #14398b;
  }
  .inner_roadmap .timeline ol li:nth-child(4)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 65%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
    width: 12px;
    height: 12px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 50%;
    background: #14398b;
    opacity: 1;
    border: 7px solid #14398b;
  }
}

@media screen and (max-width: 599px) {
  .inner_roadmap .timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
    background: #1c243d;
    border-radius: 8px;
    min-height: 1px;
  }
  .inner_roadmap .timeline ol li:nth-child(odd) div {
    top: -14px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    background: #1c243d;
    border-radius: 8px;
    min-height: 1px;
  }
  .inner_roadmap .timeline ol,
  .inner_roadmap .timeline ol li {
    width: auto;
  }
  .inner_roadmap .timeline ol {
    padding: 0;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .inner_roadmap .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }
  .inner_roadmap .timeline ol li:first-child {
    margin-top: 25px;
  }
  .inner_roadmap .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  .inner_roadmap .timeline ol li div {
    width: 100%;
    height: auto !important;
    margin: 0 auto 25px;
  }
  .inner_roadmap .timeline ol li div {
    position: static;
  }
  .inner_roadmap .timeline ol li:nth-child(odd) div {
    -webkit-transform: none;
            transform: none;
  }
  .inner_roadmap .timeline ol li:nth-child(odd) div::before,
  .inner_roadmap .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }
  .inner_roadmap .timeline ol li:last-child,
  .inner_roadmap .timeline ol li:nth-last-child(2) div::before,
  .inner_roadmap .timeline ol li:not(:last-child)::after,
  .inner_roadmap .timeline .arrows {
    display: none;
  }
}

@media screen and (max-width: 998px) {
  .f70 {
    font-size: 4rem;
    line-height: 60px;
  }
  .hero_container .main {
    font-size: 80px;
  }
  .timer_cont {
    font-size: 4.5rem;
  }
  .team_card_container {
    --bs-gutter-x: 10rem;
  }
  .team_card_container .inner_card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .f70 {
    font-size: 3rem;
    line-height: 50px;
  }
  .hero_container .main {
    font-size: 70px;
  }
  .timer_cont {
    font-size: 3.5rem;
  }
  .team_card_container {
    --bs-gutter-x: 8rem;
  }
}

@media screen and (max-width: 575px) {
  .f70 {
    font-size: 2.5rem;
    line-height: 30px;
  }
  .hero_container .main {
    font-size: 60px;
  }
  .timer_cont {
    font-size: 2.8rem;
    height: 56px;
    margin-bottom: 0.8rem;
  }
  .team_card_container {
    --bs-gutter-x: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_container .share img {
    width: 45px;
  }
  .f22 {
    font-size: 1.1rem;
    line-height: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */